CDK_DEFAULT_ACCOUNT=
CDK_DEFAULT_REGION=ap-south-1
APP_ENV=dev
COGNITO_DOMAIN_PREFIX=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET_NAME=
ALLOWED_ORIGIN=http://localhost:5173
ROOT_DOMAIN_NAME=mycaffe.in
HOSTED_ZONE_ID=
HOSTED_ZONE_NAME=mycaffe.in
WEB_DOMAIN_NAME=dev.mycaffe.in
API_DOMAIN_NAME=api.dev.mycaffe.in
WEB_CERTIFICATE_ARN=
API_CERTIFICATE_ARN=
